<aside>
    <h5>Neueste Episoden</h5>
    <ul>
      <% let i=0; %>
      <% for (let i=0; i<podcasts.length; i++ ) { %>
        <li>
          <a href="/episode?pc=<%= i %>&ep=0">
            <strong><%= podcasts[i].titel %></strong>
            <br><small><%= podcasts[i].episoden[0].datum.substring(0,10) %></small>
            <br><%= podcasts[i].episoden[0].beschreibung %>
          </a>
        </li>
      <% } %> 
    </ul>
  </aside>