<header>
  <a href="/">
    <img
    src="img/site-logo.jpeg"
    width="500"
    height="300"
    alt="Das Logo der Website. Ein Mikrofon umrundet von einem Kopfhörer"
    />
    <h1>Pott Catcher</h1>
  </a>
  </header>