#box_main_aside {
    display: flex;
    flex-flow: row ;
}

aside { 
    flex: 2 1 40%;
    align-self: baseline;
}

main {
    flex: 2 1 70%;
}

main.index {
    display: flex;
    flex-direction: column-reverse;
    flex: 2 1 70%;
}

main.episode {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    #box_main_aside {
        flex-flow: column;
    }
}