
#podcastboxen {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#podcastboxen figure {
    margin: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;

}

#podcastboxen figure a {
    display: block;
    text-decoration: none;
}

