/* Header Styles */

h1 {
    color: rgb(52, 20, 233);
    text-transform: uppercase;
    float: left;
}

header {
    clear: left
}

/* Navbar Styles */
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-align: center;
    background-color: rgb(52, 20, 233);
    color: white;

    margin: 10px;
    border-radius: 2px;
    border-style: hidden;
    padding: 5px;
    
    flex-grow: 1;
}

nav a:hover {
    background-color: aquamarine;
    color: darkslategrey;
}

/* Aside Styles */

aside {
    background-color: coral;
    border-radius: 4px;
    padding:10px;
    border: 2px solid black;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Table Styles */

td {
    padding: 7px;  
}

#podcastTable thead {
    background-color: lightskyblue;
}

#podcastTable tbody tr:nth-child(odd) {
    background-color: lightgray;
}

/* Sonstiges */
h2 {
    color:darkslategrey;
    text-transform: uppercase;
}

h5 {
    font-style: oblique;
}

body {
    font-family: Helvetica, sans-serif;
}

a[href^="mailto"]::before {
    content: "✉";

} 