<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Pott Catcher</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <%- include("includes/header.ejs") %>

        <main>
            <br>
            <h1>404<br>UUUUUUUUPPPPPPSSSS</h1>
            <br>
            <h2>Das war wohl nichts. Hier gibt es nicht zu sehen :)</h2>
            <h2>Bitte klicke auf dem Link unten um zurückzukehren.</h2>
            <h2><a href="/">Zurück ins Glück</a></h2>
        </main>

        <%- include("includes/footer.ejs") %>
    </body>
</html>