#grid_main_aside {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-areas:    "haupt seite";
}

main { 
    grid-area: haupt;
}
aside {
    grid-area: seite;
    align-self: baseline;
}

main.podcast {
    display: grid;
    grid-template-columns: 1 1;
    grid-template-areas:    "infos logo"
                            "liste liste";
}

#info { grid-area: infos; }
#logo  {grid-area: logo; }
#liste { grid-area: liste; }

body > img {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 768px) {
    #grid_main_aside {
        grid-template-areas:    "haupt"
                                "seite";
        grid-template-columns: 100%;
    }
    
}

@media screen and (max-width: 480px) {
    main.podcast {
        grid-template-columns: 1;
        grid-template-areas: "infos"
                            "liste"
                            "logo";
    }
}