
#podcastboxen {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#podcastboxen figure {
    margin: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;

}

#podcastboxen figure a {
    display: block;
    text-decoration: none;
}

input{
    background-color: rgb(52, 20, 233);
    color: white;
    border-radius: 10px;
    border-style: hidden;
    margin: 1em;
}

input:hover{
    background-color: aquamarine;
    color: darkslategrey;
}